$background: rgb(255, 255, 255);
$shopcard_font_color: rgb(0, 0, 0);
$shopcard_add_button_color: rgb(60, 60, 60);
$shopcard_add_button_color_hover: rgb(150, 150, 150);
$font_color: rgb(0, 0, 0);
$navbar_font_color: rgb(255, 255, 255);
$navbar_bg_color: rgba(10, 10, 10, 0.6);
$navbar_mobile_bg_color: rgb(10, 10, 10);
