@import "_variables.scss";

.shop {
  padding: 3rem;

  display: flex;
  justify-content: center;

  background-color: $background;

  &__side-nav {
    height: 100%;
    width: 15vw;
  }

  &__container {
    width: 100vw;

    margin-top: 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem;
  }
}
