$home_image: url(../assets/images/boots_splash.jpeg);
$hero_font_color: rgb(224, 224, 224);
$hero_background: rgba(110, 110, 110, 0.514);
$hero_underline: rgb(44, 37, 41);
$hero_button_hover: rgb(128, 174, 189);

.home {
  height: 100vh;

  display: flex;
  justify-content: flex-end;

  &__background-parent {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
  }

  &__background-child {
    height: 100%;
    width: 100vw;

    background-image: $home_image;
    background-size: cover;
    background-position: center -240px;

    transition: all 1s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__hero {
    width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    position: absolute;
    top: 20%;
    left: 70%;

    color: $hero_font_color;

    background-color: transparent;
  }

  a {
    margin-top: 1rem;
    margin-left: -30px;
    padding: 0.5rem;

    width: 35%;

    color: $hero_underline;
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: $hero_font_color;

    &:hover {
      background-color: $hero_button_hover;
    }
  }

  h1 {
    width: 47%;

    font-size: 4.8rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    background-color: $hero_background;
    border-bottom: solid $hero_underline 4px;
  }
  h2 {
    margin-left: 30px;

    font-size: 3.6rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    background-color: $hero_background;
    border-bottom: solid $hero_underline 4px;
  }
}
