.navbar {
  padding: 2rem 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  z-index: 9999;

  &__nav {
    padding-right: 10%;

    display: flex;
    justify-content: space-evenly;

    gap: 2rem;
  }

  &__cart {
    display: flex;
  }

  &__logo {
    padding-left: 10%;

    font-size: 4rem;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }

  h1 {
    padding-left: 10%;

    color: white;
    font-size: 4.8rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  a {
    line-height: 2rem;
    text-align: center;
    text-decoration: none;

    &:visited {
      color: white;
    }
  }
}
