$navbar_font_color: rgb(0, 0, 0);
$navbar_bg_color: rgba(230, 230, 230, 0.6);

.navbar {
  padding: 2rem 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $navbar_bg_color;

  position: absolute;
  z-index: 9999;

  &__nav {
    padding-right: 10%;

    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    font-size: 2.4rem;

    a::before {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      bottom: -4px;
      left: 8px;
      background-color: #000;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    a:hover::before {
      transform: scaleX(1);
    }
  }

  &__cart {
    display: flex;
  }

  &__logo {
    padding-left: 8%;

    font-size: 6rem;
    font-weight: bold;
  }

  svg {
    height: 2.4rem;
    width: 2.4rem;
  }

  h1 {
    padding-left: 10%;

    color: $navbar_font_color;
    font-size: 4.8rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  a {
    position: relative;

    color: $navbar_font_color;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;

    &:visited {
      color: $navbar_font_color;
    }
  }
}
