$shop_background: rgb(37, 37, 37);

.shop {
  padding: 4rem;

  height: 100%;

  display: flex;

  background-color: $shop_background;

  &__side-nav {
    height: 100%;
    width: 40vw;
  }

  &__container {
    height: 50%;

    display: grid;
    grid: repeat(1, 1fr) / repeat(5, 1fr);
    gap: 1rem;
  }
}
