$shop_background: rgb(37, 37, 37);

.shop {
  height: 100vh;

  display: flex;

  background-color: $shop_background;

  &__nav {
    height: 100%;
    width: 35vw;
  }

  &__container {
    margin-top: 120px;
    margin-right: 10%;

    height: 70%;
    width: 100%;

    display: grid;
    grid: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 1rem;
  }
}
