html {
  height: 100vh;
  font-size: 62.5%;
}

body,
#root {
  height: 100%;

  font-size: 1.6rem;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
